@keyframes barTimer{
  from{width: 0%;}
  to{width: 100%;}
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.barTimerTrigger{
  animation-name: barTimer;
}
#fiveXTable{
  height: 63vh;
  width: 63vh;
  margin: 0 auto 0 auto;
}
.box{
  height: fit-content;
  width: fit-content;
  border: solid black;
  border-radius: 10%;
  background-color: white;
}
#timerBound{
  margin: 1vh auto;
  width: 90vw;
  height: 5vh;
  border: solid black;
  background-color: rgba(0, 150, 255, 0.3);
}
#timerBar{
  position: relative;
  margin: -0.2vh auto;
  width: 0%;
  height: 95%;
  border: solid black;
  background-color: rgba(0, 150, 255);
  animation-duration: 7s;
  animation-timing-function: linear;
}
#gameBar{
  height: 8vh;
  width: 80vw; 
  margin: 1vh auto;
}
#instructionBar {
  display: none;
  grid-auto-flow: column;
  column-gap: 5vw;
  
}
#instructionBox {
  width: 87.5%;
  justify-self: center;
  border: solid black;
  border-radius: 10%;
  background-color: white;
  justify-content: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#menuBar {
  /* visibility: show; */
  display: flex;
  grid-auto-flow: column;
  column-gap: 3vw;
}
.configsButton{
  font-size: 3.3vh;
  width: 17.5vw;
  border: solid;
  border-color: black;
  border-radius: 10%;
  justify-content: center;
}
#scoreDiv{
  width: 68vh;
  height: 8vh;
  max-height: 10vw;
  max-width: 95vw;
  border:solid; 
  border-color: black;
  border-radius: 10%;
  background-color: white;
  text-align: center;
  justify-self: center;
  justify-content: center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  margin: 0 auto;
}
#scoreTxt{
  margin: 1.5vh;
  font-size: 3.5vh;
  white-space: nowrap;
}
#instructionText{
  font-size: 3.3vh;
}
@media (max-width: 67vh) {
  #fiveXTable{
    height: 95vw;
    width: 95vw;
    margin: 0 auto 0 auto;
  }
  #scoreDiv{
    width: 95vw;
    height: 10vw;
  }
  #scoreTxt{
    margin: 2.24vw;
    font-size: 5.22vw;
  }
  #gameBar{
    height: 11.94vw;
    width: 80vw; 
    margin: 1.49vw auto;
  }
  .configsButton{
    font-size: 4.93vw;
  }
  #instructionText{
    font-size: 4.93vw;
  }
}